[Unit]
StopWhenUnneeded=true
Requires=pghero.service
After=pghero.service

[Service]
# this service is just a placeholder
ExecStart=/bin/sleep infinity

[Install]
WantedBy=pghero.service
